[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
	ignore = dirty
[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt.git
	ignore = dirty
[submodule "submodules/libuv"]
	path = submodules/libuv
	url = https://github.com/libuv/libuv.git
	ignore = dirty
[submodule "submodules/cereal"]
	path = submodules/cereal
	url = https://github.com/USCiLab/cereal.git
	ignore = dirty
[submodule "submodules/websocketpp"]
	path = submodules/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
	ignore = dirty
[submodule "submodules/recastnavigation"]
	path = submodules/recastnavigation
	url = https://github.com/EQEmu/recastnavigation.git
	ignore = dirty
